/*--------------------------------------------
Button Black CSS
--------------------------------------------*/
QPushButton {
    color: white; 
    background-color: #2e2e2e;
    border: 1px solid #e68c00;
    border-radius: 12px;
    padding: 6px;
}
QPushButton:hover{
    background: #0d0d0d; 
}
QPushButton:pressed {
    background: #2e2e2e;
    color: #0d0d0d;
}
QPushButton::disabled {
    color: white;
    background: #918d8d;
    border: 1px solid rgba(45, 45, 46, 40%);
}
